:root {
    --primary: rgba(74, 141, 203, 1);
    --secondary: chocolate;
    --green: #198754
}

.small-dot {
    display: inline;
}

.b-example-divider {
    /* position: relative;
    bottom: 0px; */
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.landing-section {
    height: 96vh;
}

.landing-divider {
    height: 4vh;
}

.highl.ight-block {
    color: var(--primary);
}

.highlight-inline {
    /* display: inline-flex; */
    display: inline;
    color: var(--primary);
}

.cond-1 {
    color: var(--secondary)
}

.cond-2 {
    display: inline;
    color: var(--secondary)
}

.list-group-item-action:nth-child(odd) {
    color:var(--green);
}